
@model DojoSurvey.Models.Submit

<form action="Results" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name">
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label asp-for="Language"></label>
        <select asp-for="Language">
            <option value="JAVA">JAVA</option>
        </select>
        <span asp-validation-for="Language"></span>
    </div>

    <div>
        <label asp-for="Location"></label>
        <select asp-for="Location">
            <option value="Burbank">Burbank</option>
        </select>
        <span asp-validation-for="Location"></span>
    </div>

    <div>
        <label asp-for="Comment"></label>
        <input asp-for="Comment">
        <span asp-validation-for="Comment"></span>

    </div>
    <div>
        <button type="submit" value="submit">Submit</button>
    </div>
</form>