

@model DojoSurvey.Models.Submit

<div>
    <h3><label>Name: @Model.Name</label></h3>
    <h3><label>Dojo Location: @Model.Location</label></h3>
    <h3><label>Favorite Language: @Model.Language</label></h3>
    <h3><label>Comment: @Model.Comment</label></h3>
</div>