<link rel = "stylesheet" href="~/css/style.css"> 

<div>
    <h1>Submitted info</h1>
    <p> Name: @ViewBag.name</p>
    <p> Dojo Location: @ViewBag.location</p>
    <p> Favorite Language: @ViewBag.language</p>
    <p> Comment: @ViewBag.comment</p>


</div>
<a href="/">Go Back</a>